<form class="show">
	<div class="form-group">
		<h2> a pizzas... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pizzas.name %>" name="name" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= pizzas.desc %>" name="desc" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/pizzas/edit/<%=pizzas.id %>" class="btn btn-default">Edit</a> |
<a href="/pizzas">Back to list</a>
</form>